@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 50px; /* Keep the margin-top as it was */
  background-color: var(--color-dark-background); /* Dark background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw; /* Set to 80% of the viewport width to match other sections */
  max-width: 1200px; /* Ensure the width doesn’t exceed a maximum value */
  padding: 20px;
  gap: 15px;
  border-radius: 10px; /* Rounded corners for modern look */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* More prominent shadow */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}

.text h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
}

.text p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: transform 0.3s ease;
}

.link img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: scale(1.05);
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
  transition: color 0.3s ease;
}

.link a:hover {
  color: var(--color-highlight); /* Highlight color on hover */
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 20px;
    width: 90vw; /* Slightly narrower on smaller screens */
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
